# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Operating System files
.DS_Store
Thumbs.db
